[localhost]
localhost ansible_connection=local

[testing_hosts:children]
linux_amd64

[testing_hosts_linux:children]
linux_amd64

[linux_amd64]
%{ for index, vms in agent-ids ~}
%{ if platform[index] == "linux" && strcontains(vms, "amd64") }${vms} ansible_user=${agent-user[index]} ansible_host=${agent-private-ip[index]} ansible_python_interpreter=${agent-python[index]} iid=${instance-id[index]} ansible_ssh_common_args='-o StrictHostKeyChecking=no'%{ endif }
%{ endfor ~}

[testing_hosts_linux:vars]
ansible_ssh_private_key_file=~/.ssh/caos-dev-arm.cer
