#########################################
# State Backend
#########################################
terraform {
  backend "s3" {
    bucket = "automation-pipeline-terraform-state"
    key    = "infra-agent-pipeline/TAG_OR_UNIQUE_NAME"
    region = "us-east-2"
  }
}
