#########################################
# State Backend
#########################################
terraform {
  backend "s3" {
    bucket = "automation-pipeline-terraform-states"
    key    = "infra-agent-pipeline/TERRAFORM_STATE_KEY"
    region = "ap-southeast-2"
  }
}
