version: '3'

services:
  newrelic-infra:
    container_name: "newrelic-infra-{{ target_agent_version }}"
    image: "newrelic/infrastructure:{{ target_agent_version }}"
    cap_add:
      - SYS_PTRACE
    network_mode: host
    pid: host
    privileged: true
    volumes:
      - "/:/host:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      NRIA_LICENSE_KEY: "{{ nr_license_key }}"
      NRIA_DISPLAY_NAME: "{{ display_name }}"
      STAGING: true
      NRIA_DISABLE_CLOUD_METADATA: true
    restart: unless-stopped
