[localhost]
localhost ansible_connection=local

[testing_hosts]
some_host ansible_host=192.168.1.12 ansible_user=username ansible_python_interpreter=/usr/bin/python
localhost ansible_connection=local

