# api_key               = "***" # NR User Api Key
# account_id            = 0 # NR Account ID
# region                = "US" # US | EU | Staging
policies_prefix       = "[pre-release] Infra Agent Canaries metric comparator"
conditions            = [
  {
    name          = "System / Core Count"
    metric        = "coreCount"
    sample        = "SystemSample"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Cpu IOWait Percent"
    metric        = "cpuIOWaitPercent"
    sample        = "SystemSample"
    threshold     = 0.5 # max 0.112 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Cpu Idle Percent"
    metric        = "cpuIdlePercent"
    sample        = "SystemSample"
    threshold     = 5 # max 0.1 in last week
    duration      = 3600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"

  },
  {
    name          = "System / Cpu Percent"
    metric        = "cpuPercent"
    sample        = "SystemSample"
    threshold     = 1
    duration      = 3600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Cpu Steal Percent"
    metric        = "cpuStealPercent"
    sample        = "SystemSample"
    threshold     = 1.5
    duration      = 3600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Cpu System Percent"
    metric        = "cpuSystemPercent"
    sample        = "SystemSample"
    threshold     = 0.5 # max 0.02 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Cpu User Percent"
    metric        = "cpuUserPercent"
    sample        = "SystemSample"
    threshold     = 0.5 # max 0.1 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Free Bytes"
    metric        = "diskFreeBytes"
    sample        = "SystemSample"
    threshold     = 1000000000 # ~1GB
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Free Percent"
    metric        = "diskFreePercent"
    sample        = "SystemSample"
    threshold     = 10
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Read Utilization Percent"
    metric        = "diskReadUtilizationPercent"
    sample        = "SystemSample"
    threshold     = 0.1 # max 0.009 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Reads Per Second"
    metric        = "diskReadsPerSecond"
    sample        = "SystemSample"
    threshold     = 5 # max 2 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Total bytes"
    metric        = "diskTotalBytes"
    sample        = "SystemSample"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Used bytes"
    metric        = "diskUsedBytes"
    sample        = "SystemSample"
    threshold     = 1000000000
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Used Percent"
    metric        = "diskUsedPercent"
    sample        = "SystemSample"
    threshold     = 3
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Utilization Percent"
    metric        = "diskUtilizationPercent"
    sample        = "SystemSample"
    threshold     = 0.7
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Write Utilization Percent"
    metric        = "diskWriteUtilizationPercent"
    sample        = "SystemSample"
    threshold     = 0.5
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Disk Writes Per Second"
    metric        = "diskWritesPerSecond"
    sample        = "SystemSample"
    threshold     = 10
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Load Average Fifteen Minute"
    metric        = "loadAverageFifteenMinute"
    sample        = "SystemSample"
    threshold     = 0.5
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Load Average Five Minute"
    metric        = "loadAverageFiveMinute"
    sample        = "SystemSample"
    threshold     = 0.5
    duration      = 1200
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Load Average One Minute"
    metric        = "loadAverageOneMinute"
    sample        = "SystemSample"
    threshold     = 0.7 # max 0.06 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Cached Bytes"
    metric        = "memoryCachedBytes"
    sample        = "SystemSample"
    threshold     = 300000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Free Bytes"
    metric        = "memoryFreeBytes"
    sample        = "SystemSample"
    threshold     = 100000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Free Percent"
    metric        = "memoryFreePercent"
    sample        = "SystemSample"
    threshold     = 5 # TODO review  = max 4 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Shared Bytes"
    metric        = "memorySharedBytes"
    sample        = "SystemSample"
    threshold     = 15000000
    duration      = 3600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Slab Bytes"
    metric        = "memorySlabBytes"
    sample        = "SystemSample"
    threshold     = 50000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Total Bytes"
    metric        = "memoryTotalBytes"
    sample        = "SystemSample"
    threshold     = 50000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Used Bytes"
    metric        = "memoryUsedBytes"
    sample        = "SystemSample"
    threshold     = 100000000 # TODO review  = max 50M avg in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Used Percent"
    metric        = "memoryUsedPercent"
    sample        = "SystemSample"
    threshold     = 5 # max 4 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Kernel Free"
    metric        = "memoryKernelFree"
    sample        = "SystemSample"
    threshold     = 100000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Memory Buffers"
    metric        = "memoryBuffers"
    sample        = "SystemSample"
    threshold     = 5000000 #~5MB
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Swap Free Bytes Windows"
    metric        = "swapFreeBytes"
    sample        = "SystemSample"
    threshold     = 100000000
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator_windows.tftpl"
  },
  {
    name          = "System / Swap Free Bytes Linux"
    metric        = "swapFreeBytes"
    sample        = "SystemSample"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator_linux.tftpl"
  },
  {
    name          = "System / Swap Total Bytes"
    metric        = "swapTotalBytes"
    sample        = "SystemSample"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "System / Swap Used Bytes"
    metric        = "swapUsedBytes"
    sample        = "SystemSample"
    threshold     = 100000000
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator_windows.tftpl"
  },
  {
    name          = "System / Swap Used Bytes"
    metric        = "swapUsedBytes"
    sample        = "SystemSample"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator_linux.tftpl"
  },
  {
    name          = "System / System Memory Bytes"
    metric        = "systemMemoryBytes"
    sample        = "SystemSample"
    threshold     = 50000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  ####################################
  # storage
  ####################################
  {
    name          = "Storage / Disk Free Bytes"
    metric        = "diskFreeBytes"
    sample        = "StorageSample"
    threshold     = 500000000
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Disk Free Percent"
    metric        = "diskFreePercent"
    sample        = "StorageSample"
    threshold     = 5
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Disk Total Bytes"
    metric        = "diskTotalBytes"
    sample        = "StorageSample"
    threshold     = 10000
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Disk Used Bytes"
    metric        = "diskUsedBytes"
    sample        = "StorageSample"
    threshold     = 1000000000
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Disk Used Percent"
    metric        = "diskUsedPercent"
    sample        = "StorageSample"
    threshold     = 0.5
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Inodes Free"
    metric        = "inodesFree"
    sample        = "StorageSample"
    threshold     = 50000
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Inodes Total"
    metric        = "inodesTotal"
    sample        = "StorageSample"
    threshold     = 1
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Inodes Used"
    metric        = "inodesUsed"
    sample        = "StorageSample"
    threshold     = 5000
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / Inodes Used Percent"
    metric        = "inodesUsedPercent"
    sample        = "StorageSample"
    threshold     = 0.1
    duration      = 600
    operator      = "below"
    template_name = "./nrql_templates/single_metric_comparator.tftpl"
  },
  {
    name          = "Storage / System Memory Bytes"
    metric        = "systemMemoryBytes"
    sample        = "StorageSample"
    threshold     = 50000000
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  ####################################
  # network
  ####################################
  {
    name          = "Network / Receive Bytes Per Second"
    metric        = "receiveBytesPerSecond"
    sample        = "NetworkSample"
    threshold     = 100
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Receive Dropped Per Second"
    metric        = "receiveDroppedPerSecond"
    sample        = "NetworkSample"
    threshold     = 2
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Receive Errors Per Second"
    metric        = "receiveErrorsPerSecond"
    sample        = "NetworkSample"
    threshold     = 2
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Receive Packets Per Second"
    metric        = "receivePacketsPerSecond"
    sample        = "NetworkSample"
    threshold     = 1
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Transmit Bytes Per Second"
    metric        = "transmitBytesPerSecond"
    sample        = "NetworkSample"
    threshold     = 300
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Transmit Dropped Per Second"
    metric        = "transmitDroppedPerSecond"
    sample        = "NetworkSample"
    threshold     = 2
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Transmit Errors Per Second"
    metric        = "transmitErrorsPerSecond"
    sample        = "NetworkSample"
    threshold     = 2
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  {
    name          = "Network / Transmit Packets Per Second"
    metric        = "transmitPacketsPerSecond"
    sample        = "NetworkSample"
    threshold     = 1
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/generic_metric_comparator.tftpl"
  },
  ####################################
  # process
  ####################################
  {
    name          = "Process / Process count"
    threshold     = 7
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/process_count_comparator.tftpl"
  },
  {
    name          = "Process / Username empty"
    threshold     = 0
    duration      = 300
    operator      = "above"
    template_name = "./nrql_templates/process_username_empty.tftpl"
  },
  {
    name          = "Agent process / Cpu Percent"
    metric        = "cpuPercent"
    threshold     = 0.3
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  {
    name          = "Agent process / Cpu System Percent"
    metric        = "cpuSystemPercent"
    threshold     = 0.05 # max 0.02 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  {
    name          = "Agent process / Cpu User Percent"
    metric        = "cpuUserPercent"
    threshold     = 0.06 # max 0.02 in last week
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  {
    name          = "Agent process / IO Read Bytes Per Second"
    metric        = "ioReadBytesPerSecond"
    threshold     = 100
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  {
    name          = "Agent process / IO Write Bytes Per Second"
    metric        = "ioWriteBytesPerSecond"
    threshold     = 100
    duration      = 1800
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  {
    name          = "Agent process / Memory Resident Size Bytes"
    metric        = "memoryResidentSizeBytes"
    threshold     = 5000000
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/agent_process_metrics.tftpl"
  },
  ####################################
  # containers
  ####################################
  {
    name          = "Container count"
    threshold     = 0
    duration      = 600
    operator      = "above"
    template_name = "./nrql_templates/container_count_comparator.tftpl"
  }
]
