SELECT
filter(average(numeric(${metric})),WHERE displayName like '${displayNamePrevious}')
-
filter(average(numeric(${metric})),WHERE displayName like '${displayNameCurrent}')
FROM ${sample}
WHERE displayName IN ('${displayNameCurrent}','${displayNamePrevious}')