[localhost]
localhost ansible_connection=local

[testing_hosts:children]
macos_current
macos_previous

[testing_hosts_macos:children]
macos_current
macos_previous

[macos_previous]
{% for ins in instances_info_previous %}
{{ ins.name }} ansible_host={{ ins.ip }} ansible_user={{ ins.username }} ansible_python_interpreter={{ ins.python_interpreter }} iid={{ ins.iid }}
{% endfor %}

[macos_current]
{% for ins in instances_info_current %}
{{ ins.name }} ansible_host={{ ins.ip }} ansible_user={{ ins.username }} ansible_python_interpreter={{ ins.python_interpreter }} iid={{ ins.iid }}
{% endfor %}

[macos_current:vars]
ansible_ssh_private_key_file={{ ec2_private_key_file }}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_sudo_pass='{{ macstadium_sudo_pass }}'

[macos_previous:vars]
ansible_ssh_private_key_file={{ ec2_private_key_file }}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_sudo_pass='{{ macstadium_sudo_pass }}'
