[localhost]
localhost ansible_connection=local

[testing_hosts]
{% for ins in instances_for_inventory %}
{{ ins.name }} ansible_host={{ ins.ip }} ansible_user={{ ins.username }} ansible_python_interpreter={{ ins.python_interpreter }}
{% endfor %}

[testing_hosts:vars]
ansible_ssh_private_key_file=~/.ssh/caos-dev-arm.cer