#
# New Relic Infrastructure Agent configuration file.
#
# Lines that begin with a # are comment lines and are ignored by the server
# monitor. For those options that have command line equivalents, if the
# option is specified on the command line it will over-ride any value set
# in this file.
#

#
# Option : license_key
# Value  : 40-character alphanumeric string provided by New Relic. This is
#          required in order for the server monitor to start.
# Default: none
#

license_key: {{ nr_license_key }}

#
# Option : custom_attributes
# Type   : dictionary of attribute names and their flat (string) values
# Default: none
#
custom_attributes:
    environment: {{ nr_environment }}
    department: {{ department }}
    product: {{ product }}
    project: {{ project }}
    owning_team: {{ owning_team }}

display_name: {{ display_name }}
log:
  level: {{ log_level }}
  forward: {{ log_forward }}
  rotate:
    max_size_mb: {{ log_rotation_mb }}
    max_files: {{ log_rotation_max_files }}
    compression_enabled: {{ log_rotation_compressed }}

ntp_metrics:
  enabled: true
  pool:
    - time.cloudflare.com
    - time.google.com
  interval: 15
  timeout: 10

staging: {{ staging }}
enable_process_metrics: {{ enable_process_metrics }}
{% if self_instrumentation %}
self_instrumentation: "newrelic"
{% endif %}
