name: Build and upload docker images as RC

on:
  workflow_call:
    secrets:
      DOCKER_HUB_ID:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true
      GPG_MAIL:
        required: true
      GPG_PASSPHRASE:
        required: true
      GPG_PRIVATE_KEY_BASE64:
        required: true
      GH_TOKEN:
        required: true
    inputs:
      TAG:
        required: true
        type: string

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  GPG_MAIL: ${{ secrets.GPG_MAIL }}
  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  GPG_PRIVATE_KEY_BASE64: ${{ secrets.GPG_PRIVATE_KEY_BASE64 }} # base64 encoded
  TAG:  ${{ inputs.TAG }}
  DOCKER_HUB_ID: ${{ secrets.DOCKER_HUB_ID }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  DOCKER_PUBLISH: true

jobs:
  packaging:
    name: Build and upload docker images as RC
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_HUB_ID }}
          password: ${{ env.DOCKER_HUB_PASSWORD }}

      - name: Compiling binaries for linux amd64, arm, arm64
        run: make ci/prerelease/linux-for-docker

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and publish Release Candidate (RC) of base Docker image
        run: AGENT_VERSION=${{env.TAG}} make -C build/container/ clean publish/multi-arch-base-rc

      - name: Build and publish Release Candidate (RC) of forwarder Docker image
        run: AGENT_VERSION=${{env.TAG}} make -C build/container/ clean publish/multi-arch-forwarder-rc

      - name: Build and publish Release Candidate (RC) of k8s-events-forwarders Docker image
        run: AGENT_VERSION=${{env.TAG}} make -C build/container/ clean publish/multi-arch-k8s-events-forwarder-rc