name: ~ macOS | Run unit tests

on:
  workflow_call:

env:
  GO_VERSION: '1.18'

jobs:
  unit-test-macos:
    name: unit tests
    runs-on: macos-10.15

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{env.GO_VERSION}}

      - name: Download deps
        run: go mod vendor

      - name: Running unit tests
        run: make test-only

  run-lint:
    name: Lint tests
    runs-on: macos-10.15
    continue-on-error: true

    steps:
      - uses: actions/checkout@v2

      - name: Modify go.mod version to support golangci-lint
        run: sed -i -e 's/go 1\.18/go 1\.17/' go.mod

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Running lint tests
        run: make lint
        # this is temporary as those tests are not fixed yet