name: Run harvest tests

on:
  workflow_call:

env:
  GO_VERSION: '1.16.12'

jobs:
  test:
    name: Linux harvest tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04 ]
    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{env.GO_VERSION}}

      - name: Setup node
        run: sudo apt install musl-dev

      - name: Running Harvest tests
        run: make linux/harvest-tests