name: Test pre-release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to test'
        required: true

permissions:
  id-token: write

jobs:
  test-prerelease-windows:
    uses: newrelic/infrastructure-agent/.github/workflows/component_prerelease_testing.yml@ci/fix-packaging-2
    with:
      PLATFORM: "windows"
      TAG: ${{ github.event.inputs.tag }}
    secrets:
      AWS_VPC_SUBNET: ${{secrets.AWS_VPC_SUBNET}}

  test-prerelease-linux:
    uses: newrelic/infrastructure-agent/.github/workflows/component_prerelease_testing.yml@ci/fix-packaging-2
    with:
      PLATFORM: "linux"
      TAG: ${{ github.event.inputs.tag }}
    secrets:
      AWS_VPC_SUBNET: ${{secrets.AWS_VPC_SUBNET}}
