---
name: UnitTesting

on: [push, pull_request]

jobs:

  proxy-tests:
    name: Proxy tests
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: src/github.com/newrelic/infrastructure-agent
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: src/github.com/newrelic/infrastructure-agent
      - name: Proxy Test
        run: ls -laht

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Validate code
        run: make validate

      - name: Running unit tests
        run: make test-coverage

      - name: Install gcov2lcov
        working-directory: /tmp
        run: go get -u github.com/jandelgado/gcov2lcov

      - name: Convert coverage.out to lcov.info
        run: gcov2lcov -infile=coverage.out -outfile=lcov.info

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: lcov.info
          flag-name: run-linux
          parallel: true

  build-container:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Build linux agent
        run: make clean linux/amd64

      - name: Build container agent
        run: make -C build/container/ build/base

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Download deps
        run: go mod vendor

      - name: Running unit tests
        run: .\build\win_build.ps1

  build-centos5:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/github.com/newrelic/infrastructure-agent

    steps:
      - uses: actions/checkout@v2
        with:
          path: src/github.com/newrelic/infrastructure-agent

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Setup CentOS 5
        run: make go-get-go-1_9

      - name: Running unit tests
        env:
          GOPATH: "${{ github.workspace }}"
        run: make test-centos-5

  finish:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
