---
name: UnitTesting

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Running unit tests
        run: make test

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Download deps
        run: go mod vendor

      - name: Running unit tests
        run: .\win_build.ps1

  build-centos5:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/github.com/newrelic/infrastructure-agent

    steps:
      - uses: actions/checkout@v2
        with:
          path: src/github.com/newrelic/infrastructure-agent

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.14.4'

      - name: Setup CentOS 5
        run: make go-get-go-1_9

      - name: Running unit tests
        env:
          GOPATH: "${{ github.workspace }}"
        run: make test-centos-5
